.hr-dashed-black {
	color: #333;
	border: 1px dashed #333;
	margin-top: 50px;
	margin-bottom: 20px;
}

#saveBtn {
	height: 50px;
	width: 256px;
	margin-top: 30px;
	margin-bottom: 30px;
	border: 1px solid #333;
	border-radius: 4px;
	background-color: #fff;

	font-family: Skranji-Regular;
	font-size: 24px;
	color: #333;
	text-align: center;
}

#changePassword {
	height: 50px;
	width: 320px;
	margin-top: 30px;
	margin-bottom: 30px;
	border: 1px solid #333;
	border-radius: 4px;
	background-color: #fff;

	font-family: Skranji-Regular;
	font-size: 24px;
	color: #333;
	text-align: center;
}