.create-qr-code {
	font-family: Skranji-Bold;
	font-size: 48px;
	color: #333;
	text-align: center;
}

.main-div {
	display: block;
	text-align: center;
	align-content: center;
}

.field-title {
	font-family: Skranji-Regular;
	font-size: 24px;
	color: #333;
	text-align: center;
	margin-top: 20px;
}

.form-mod {
	border: 1px solid #333 !important;
	border-radius: 4px !important;
}

#createBtn {
	height: 50px;
	width: 384px;
	margin-top: 30px;
	margin-bottom: 30px;
	border: 1px solid #333;
	border-radius: 4px;
}